<div class="addEvento bg-light">
    <form method="post" [formGroup]="this.formulario" (ngSubmit)="onSubmit()" data-toggle="validator">
        <div class="form-group">
            <label for="dt_ocorrencia">Dia do evento</label>
            <input type="date" formControlName="dt_ocorrencia" id="dt_ocorrencia" required="true" class="form-control">
        </div>
        <div class="form-group">
            <label for="hr_ocorrencia">Horário do evento</label>
            <input type="text" formControlName="hr_ocorrencia" id="hr_ocorrencia" class="form-control" required="true"
                placeholder="Horário do evento">
        </div>
        <div class="form-group">
            <label for="responsavel">Responsavel</label>
            <input type="text" formControlName="responsavel" id="responsavel" required="true" class="form-control"
                placeholder="Responsavel">
        </div>
        <div class="form-group">
            <label for="nome_evento">Nome do evento</label>
            <input type="text" formControlName="nome_evento" id="nome_evento" required="true" class="form-control"
                placeholder="Nome do evento">
        </div>

        <div class="form-group">
            <label for="endereco">Endereço</label>
            <input type="text" formControlName="endereco" id="endereco" required="true" class="form-control">
        </div>
        <div class="form-group">
            <label for="bairro">Bairro</label>
            <input type="text" formControlName="bairro" id="bairro" required="true" class="form-control">
        </div>
        <div class="form-group">
            <label for="cidade">Cidade</label>
            <input type="text" formControlName="cidade" id="cidade" required="true" class="form-control"
                placeholder="Cidade">
        </div>
        <div class="form-group">
            <label for="estado">Estado</label>
            <input type="text" formControlName="estado" id="estado" required="true" class="form-control"
                placeholder="Estado">
        </div>
        <div class="form-group">
            <label for="observacao">Observacao</label>
            <input type="text" formControlName="observacao" id="observacao" required="true" class="form-control"
                placeholder="Descrição do evento">
        </div>
        <button type="submit" class="btn btn-secondary">Salvar</button>
    </form>
</div>