<div class="addEvento bg-light">
    <form method="post">
        <div class="form-group">
            <label for="responsavel">Responsavel</label>
            <input type="text" name="responsavel" id="responsavel" class="form-control" placeholder="Responsavel">
        </div>
        <div class="form-group">
            <label for="cidade">Cidade</label>
            <input type="text" name="cidade" id="cidade" class="form-control" placeholder="Cidade">
        </div>
        <div class="form-group">
            <label for="estado">Estado</label>
            <input type="text" name="estado" id="estado" class="form-control" placeholder="Estado">
        </div>
        <div class="form-group">
            <label for="dia">Dia do evento</label>
            <input type="date" name="dia" id="dia" class="form-control">
        </div>
        <div class="form-group">
            <label for="hora">Dia do evento</label>
            <input type="time" name="hora" id="hora" class="form-control" max="24" min="00">
        </div>
        <div class="form-group">
            <label for="observacao">Observacao</label>
            <input type="text" name="observacao" id="observacao" class="form-control" placeholder="Observação" >
        </div>
        <button type="submit" class="btn btn-secondary">Salvar</button>
    </form>
</div>