<router-outlet></router-outlet>
<div class="bg ">
    <div class="bg-l ">
        <div class="container">


            <h1>Resumo da história do Grupo</h1>
            <p>O Grupo de Capoeira Nosso Senhor do Bonfim foi fundado no ano de 1978 na cidade de Passos – MG, tendo
                como seu fundador Reginaldo Santana, Mestre Reginaldo, nascido em 27 de junho de 1957 na cidade de
                Itabuna - Bahia.Em setembro de 1988 chega a Jundiaí – SP Carlos Alberto da Silva, o Mestre Kauê,
                discípulo de Mestre Reginaldo, trazendo com ele a ramificação do Grupo de Minas Gerais para o interior
                de São Paulo, fundando assim mais um núcleo do Grupo de Capoeira Nosso Senhor do Bonfim.No dia 02 de
                fevereiro 1990 começa um novo trabalho do Grupo na antiga Casa da Cultura da cidade, que se situava à
                Rua Marechal Deodoro da Fonseca, n° 221 – Centro, onde o Grupo de Capoeira Nosso Senhor do Bonfim
                permaneceu durante 12 anos até a entidade ser desativada. Mestre Kauê sempre implantou e desenvolveu uma
                metodologia e filosofia própria de ensino voltada para as raízes da capoeira com suas tradições e
                evoluções, tendo com isso conseguido introduzir esta modalidade em Clubes, Escolas, Academias,
                Comunidades Carentes, Projetos Sociais implantados pela Prefeitura e afins. Um grupo de capoeira
                preocupado em divulgar e proteger a arte da capoeira não deixando, que nossa arte brasileira se perca em
                meio a alguns grupos que por ventura misturem nossa capoeira com qualquer outra arte marcial. Tendo em
                vista a necessidade de divulgar a capoeira criamos este site para servir como veículo de comunicação
                entre os capoeiristas que amam a capoeira e honram o jogo com a estética e a tecnica apurada...</p>
        </div>

    </div>
</div>