<div class="body">

    <div class="box">
        <h2>Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="login()" >
            <div class="inputBox form-group">
                <input #userNameInput type="text" formControlName="userName" autofocus class="form-control" required=''>
                <label>Usuário</label>
                <app-vmessage *ngIf="loginForm.get('userName').errors?.required"
                    text=' Usuário não pode ser deixado em branco'>
                </app-vmessage>
            </div>
            <div class="inputBox form-group">
                <input type="password" formControlName="password" class="form-control" required=''>
                <label>Senha</label>
                <app-vmessage *ngIf="loginForm.get('password').errors?.required"
                    text=' Senha não pode ser deixada em branco'>
                </app-vmessage>
            </div>
            <input [disabled]="loginForm.invalid" type="submit" value="Entrar">
        </form>
    </div>
</div>